/* header */

/* Navagation */
li {
	text-align:left;
}
/* Main */

h2 {
	font-family: 'Roboto', sans-serif;
	text-align:center;
	font-size:60px;
}
p {
	text-align: center;
	font-size: 25px;
	
}